.history{
    padding-top: 86px;
    padding-bottom: 80px;

    &__h2{
        margin-bottom: 14px;
        margin-top: 0;
    }

    &__flex{
        position: relative;
        display: flex;

        @media(max-width:768px){
            flex-direction: column;
        }
    }

    &__info{
        background: $bgGreyColor;
        color: #FFFFFF;
        width: 538px;
        padding: 50px 41px;
        height: fit-content;
        position: absolute;
        top: 66px;
        left: 0;

        @media(max-width:1199px){
            top: 19px;
        }
        @media(max-width:768px){
            position: inherit;
        }

        &::after{
            content: '';
            background: #FF9619;
            width: 101px;
            height: 55px;
            position: absolute;
            right: 69px;
            bottom: -28px;

            @media(max-width:768px){
                z-index: 4;
            }
        }
    }

    &__subtitle{
        margin-bottom: 25px;
    }

    &__image{
        width: 800px;
        height: 543px;
        margin-left: auto;
        height: 400px;
        z-index: 3;

        @media(max-width:768px){
            width: 100%;
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__history-line{
        padding-top: 80px;

        @media(max-width:1199px){
            padding-top: 40px;
        }
    }

    @media(max-width:991px){
        padding: 50px 0;
    }
    
}
